.login__submit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    min-height: 50px;
    max-width: 358px;
    width: 100%;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}

.login__submit:hover {
    opacity: 0.85;
}